{% extends "registration/base.html" %}

{% block content %}
<h3>Set a New Password</h3>
<form method="post">
    {% csrf_token %}

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingNewPassword1" name="{{ form.new_password1.name }}" placeholder="New Password">
        <label for="floatingNewPassword1">New Password</label>
        {% if form.new_password1.errors %}
            <div class="text-danger">{{ form.new_password1.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingNewPassword2" name="{{ form.new_password2.name }}" placeholder="Confirm Password">
        <label for="floatingNewPassword2">Confirm Password</label>
        {% if form.new_password2.errors %}
            <div class="text-danger">{{ form.new_password2.errors.0 }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
{% endblock %}
