{% extends 'registration/base.html' %}

{% block content %}

<h3>Reset Your Password</h3> <br> <br>
<form method="post">
    {% csrf_token %}
    
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" name="{{ form.email.name }}" placeholder="Email">
        <label for="floatingEmail">Email</label>
        {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors.0 }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>
{% endblock %}